@import url("webfonts/PTSansBold/stylesheet.css");
@import url("webfonts/PTSansReg/stylesheet.css");
@import url("webfonts/PTSansItalic/stylesheet.css");
@import url("webfonts/PTSans Bold Italic/stylesheet.css");
/* reset styles */
html,body {
 padding: 0;
 margin: 0;
 font-size: 100%;
}
h1, h2, h3, h4, h5, h6, p, ol, ul, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
h1 {
	font-size:  2.5em;
	font-weight:  bold;
}
h2 {
	font-size:  2em;
	font-weight:  bold;
}
h3 {
	font-size:  1.5em;
	font-weight:  bold;
}
li, pre, code, address, variable {
 padding: 0;
 margin: 0;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { margin-left: 1.4em; list-style: decimal; }
ul { margin-left: 1em; list-style:square; }
q:before, q:after { content:''; }

/* basic styles */
html {
	background-image: url(images/bg_page.png);
}
body {
	background-image: url(images/banner.png);
	background-repeat: repeat-x;
	background-position: left top;
	padding-bottom:  20px;
}
strong {
	font-family: PTSansBold, "Arial Black", sans-serif;
}
.right {
	float: right;
	margin-left: 15px;
}
.left {
	float: left;
	margin-right: 15px;
}
.portrait {
	border: 1px solid rgb(102,102,102);
	box-shadow: 2px 2px 3px rgb(153,153,153);
}

/* helper classes */
img.rwd {
	max-width:  100%;	
}

/* layout */
.wrapper {
	width: 1000px;
	margin: 0 auto;
}
.header {
	height: 140px;
	background-image: url(images/bg_banner.jpg);
	margin-bottom:  20px;
	position: relative;
}
.header .logo {
	float: left;
	margin-top: 35px;
}
.header .hours {
	font: 12px PTSansItalic, Arial, sans-serif;
	color: rgb(10,47,2);
	background-color: rgb(230,229,181);
	clear: both;
	width: 33%;
	padding: 5px 10px;
}
.date {
	font-family: PTSansBold, "Arial Black", sans-serif;
	color: rgb(204,0,0);
}
.nav {
	margin: 85px 0px 0px;
	padding: 0px;
	list-style: none;
	float: right;
}
.nav li {
	display: inline;
}
.nav a  {
	text-decoration: none;
	color: #525261;
	font-family: PTSansReg;
	background-color: #F0F6F5;
	display: inline-block;
	padding: 3px 13px;
	border-radius: 0px 7px 0px 7px;
	margin-right: 5px;
	-webkit-transition: background-color 0.5s ease 0s;
	-moz-transition: background-color 0.5s ease 0s;
	-ms-transition: background-color 0.5s ease 0s;
	-o-transition: background-color 0.5s ease 0s;
	transition: background-color 0.5s ease 0s;
	border: 1px solid rgb(240,246,245);
	box-shadow: 2px 2px 0px 0px rgb(204,204,204);
}
.nav a:hover {
	background-color: rgb(153,153,153);
	color: rgb(234,225,182);
	border: 1px solid rgb(153,153,153);
	box-shadow: 2px 2px 0px 0px rgb(225,237,235);
}
.header .reservation {
	position: absolute;
	right: 0px;
	top: 8px;
	border-right: 1px solid rgb(240,246,245);
	border-left: 1px solid rgb(240,246,245);
	border-bottom: 1px solid rgb(240,246,245);
}
.reservation a {
	font-family: PTSansBold, "Arial Black", sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: rgb(240,246,245);
	background-color: rgb(10,47,2);
	background-image: url(images/list_dingbat.png);
	background-repeat: no-repeat;
	background-position: 10px 5px;
	padding:  3px 15px 2px 35px;
	display:  inline-block;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.reservation a:hover {
	color: rgb(10,47,2);
	background-color: rgb(201,237,149);
}
.main {
	width:  64%;
	float: left;
	margin-bottom: 25px;
}
.main h1 {
	font: 36px PTSansBold, "Arial Black", sans-serif;
	color:  #0B2E00;
	text-shadow:  2px 2px 1px #CCCCCC;
	margin-bottom: 20px;
}
.main p {
	font: 17px/130% PTSansReg, Arial, sans-serif;
	margin-bottom: 10px;
}
.aside {
	width:  33%;
	float:  right;
	border: 1px solid rgb(229,229,229);
	border-radius: 5px;
	/* for ie8 and below */
	background:  rgb(231,235,224);
	/* for browsers with rgba support */
	background: rgba(225,237,235,.5);
	box-shadow: 2px 2px 2px rgba(0,0,0,.5);
	font-family: PTSansReg, Arial, sans-serif;
	margin-bottom: 25px;
}
.aside strong {
	font-family: PTSansBold, "Arial Black", sans-serif;
}
.aside h2 {
	font: 18px PTSansBold, "Arial Black", sans-serif;
	color:  #0B2E00;
	border-top: 1px dotted rgba(153,153,153,1);
	margin: 10px;
	padding-top: 3px;
}
.aside ul {
	margin-bottom: 25px;
}

.aside li {
	list-style: none;
	background-image: url(images/list_dingbat.png);
	background-repeat: no-repeat;
	padding-left: 20px;
	margin-right: 10px;
	margin-bottom: 10px;
	color:  #52525F;
}

.aside .figure {
	margin: 0 20px 15px 20px;
	font: 14px PTSansItalic, Arial, sans-serif;
}
.figure img {
	border:  1px solid rgba(204,204,204,1);
	padding:  10px;
	background-color: #E1EDEB;
	display:  block;
	margin-left:  -10px;
	margin-bottom:  5px;
	border-radius: 10px 0px 10px 0px;
}

.footer {
	clear:  both;
	background-color: rgb(10,47,2);
	padding: 5px 25px;
	color: rgb(240,246,245);
	font: 14px PTSansItalic;
	border-radius: 25px;
	margin-right: -25px;
	margin-left: -25px;
}
.home-image {
	background-color: rgb(240,246,245);
	position: relative;
	border: 1px solid rgb(229,229,229);
	border-radius: 10px;
	box-shadow: 2px 2px 2px rgba(0,0,0,.25);
	margin-bottom:  25px;
	padding: 8px;
}
.home-image p {
	text-indent: 0px;
}
.home-image .tagline {
	position: absolute;
	top: 34px;
	right: 32px;
	width: 60%;
	text-align: right;
}
.home-image .tagline p {
	font: 32px PTSansBold, "Arial Black", sans-serif;
	color:  white;
	font-weight:  normal;
	background:  rgb(10,47,2);
	background: rgba(10,47,2,.75);
	padding:  10px 20px;
	display: inline-block;
	margin-top: 10px;
	line-height: .75;
}
.col50 {
	width: 49%;
	float:  left;
	border-left: 1px dotted rgba(153,153,153,1);
}
.main h2 {
	font: 20px "PTSans Bold Italic", "Arial Black", sans-serif;
	color: rgba(10,47,2,1);
	margin: 0;
}

.col50 h2 {
	text-align:  center;
	margin: 0 10px 10px;
}
.col50 p {
	margin: 0 10px 10px;
	font-size:  0.9em;
}
.tech {
	background-image: url(images/tech-icon.png);
	background-repeat: no-repeat;
	padding-top:  50px;
	background-position: center top;
}
.ingredients {
	background-image: url(images/ingredient-icon.png);
	background-repeat: no-repeat;
	padding-top:  50px;
	background-position: center top;
}
.home-image img {
	display: block;
	border-radius: 5px;
}

.map {
border:  1px solid rgb(229,229,229);	
}
.main form p {
	margin-bottom:  20px;	
}


.small-print {
	font: 0.8em PTSansItalic
!important;
	color: rgba(153,153,153,1);
	margin-top: 15px;
	padding-top: 5px;
	border-top: 1px dashed rgba(204,204,204,1);
}

.label {
	font-family: "PTSansBold", "Arial Bold", sans-serif;
	color: #205B0A;
	text-align: right;
	clear: left;
	float: left;
	width: 30%;
	padding-right: 10px;
}
.submit {
	margin-left: 32%;
}
.counter {
	font: .8em PTSansItalic, "Arial Italic", sans-serif;
	color: #999999;
	display: block;
	margin-left: 32%;
	margin-top: -5px;
}
textarea, input[type="text"] {
	font: 1.2em PTSansReg, Arial, sans-serif;
	width:  50%; 
	margin-top:  -3px;
}
