@charset "UTF-8";
@import url("webfonts/PTSansBold/stylesheet.css");
@import url("webfonts/PTSansRegular/stylesheet.css");
@import url("webfonts/PTSansItalic/stylesheet.css");
h1 {
	color: #145207;
	font: normal 36px PTSansBold;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #145207;
	border-bottom-color: #145207;
	padding-top: 2px;
}
h2 {
	font: 24px PTSansBold;
	text-transform: uppercase;
	color: #033E00;
	margin-bottom: 0px;
}
p {
	font: 14px/150% PTSansRegular;
	margin-top: 5px;
	margin-left: 75px;
}
strong {
	font-family: PTSansBold;
	font-weight: normal;
}
em {
	font-family: PTSansItalic;
	font-style: normal;
}
.copyright {
	font: normal 12px PTSansBold;
	color: #FFFFFF;
	background-color: #145207;
	padding: 5px;
	margin-top: 25px;
	margin-left: 0px;
}
ul {
	font: 14px PTSansRegular;
	margin-left: 50px;
	list-style-type: square;
}
