@charset "UTF-8";
@import url("webfonts/PTSansBold/stylesheet.css");
@import url("webfonts/PTSansRegular/stylesheet.css");
.container {
	width: 800px;
	margin-right: auto;
	margin-left: auto;
}
.banner {
	padding: 12px 0 0 0;
	margin-top: 0px;
	margin-bottom: 20px;
}
.banner p {
	color: #468531;
	font: normal 38px/normal PTSansBold;
}
h1 {
	color: #468531;
	margin-bottom: 10px;
	font: normal 30px PTSansBold;
}
h2 {
	color: #468531;
	margin-bottom: 0px;
	border-bottom: 2px dotted #E9E0B9;
	font: normal 24px PTSansRegular;
	margin-top: 20px;
}
p , li{
	font-family: PTSansRegular;
	margin-top: 0px;
	line-height: 150%;
	margin-bottom: 20px;
}
strong {
	font-family: PTSansBold;
	font-weight: normal;
}
.date {
	font-family: PTSansBold;
	color: #993300;
}
.footer {
	background-color: #F2E5C2;
	padding: 5px 10px;
	border-top: 1px dotted #46855C;
	margin-top: 35px;
}
.footer p {
	margin: 0px;
	line-height: normal;
	font-size: 14px;
}
a {
	color: #417F2C;
	font-family: PTSansBold;
}
a:hover {
	color: #0A2F02;
	text-decoration: none;
}
